<%
  var listMenu=[
    {link:'/',name:'Trang chủ'},{link:'/dao-tao',name:'Đào tạo'},
    {
      link:'/tuyen-sinh',name:'Tuyển sinh',
      subMenu:[
      {
        link:'/tuyen-sinh/1',name:'Ngắn hạn'
      },
      {
        link:'/tuyen-sinh/2',name:'Trung cấp'
      },
      {
        link:'/tuyen-sinh/3',name:'Cao đẳng'
      },
      {
        link:'/tuyen-sinh/4',name:'Đại học'
      },
      {
        link:'/tuyen-sinh/6',name:'Du học xuất khẩu lao động'
      }
      ]
    },
    
    {link:'/bai-viet/linh-vuc/5d21a5a28ae8350a5088f73f',name:'Tin tức'},
    {link:'/thong-bao',name:'Thông báo'},
  ];


%>
<!DOCTYPE html>
<html dir="ltr" lang="en">
<% include ../component/home/head %>

<body class="">
    <div id="wrapper" class="clearfix">
        <!-- preloader -->
        <%- include('../component/home/header',{listMenu}) %>
        <!-- Start main-content -->
        <div class="main-content">

            <section class="inner-header divider parallax layer-overlay overlay-dark-5"
                data-bg-img="/public/images/bg3.jpg">
                <div class="container pt-70 pb-20">
                    <!-- Section Content -->
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="title text-white">Chi tiết khóa học</h2>
                                <ol class="breadcrumb text-left text-black mt-10">
                                    <li><a href="#">Trang chủ</a></li>
                                    <li><a href="#">Khóa học</a></li>
                                    <li class="active text-gray-silver">Danh sách theo lĩnh vực</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container mt-30 mb-30 pt-30 pb-30">
                    <div class="row">
                        <div class="col-md-9 pull-right flip sm-pull-none">
                            <div class="kh-posts">
                                <div class="col-md-12">
                                    <div class="row list-dashed listBV">
                                        <% if(idLV != null){ %>
                                        <input type="hidden" id="idLV" value="<%= idLV%>">
                                        <% } %>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="sidebar sidebar-right mt-sm-30">
                                <div class="widget">
                                    <h5 class="widget-title line-bottom">Lĩnh vực <span class="text-theme-color-2">Khóa
                                            học</span></h5>

                                    <div class="services-list">
                                        <ul class="list list-border angle-double-right">
                                            <% if(listLV.length !== 0){ %>
                                            <% listLV.forEach(function(ele){ %>
                                            <% if(ele.id == idLV ){%>
                                            <li class="active"><a
                                                    href="/khoa-hoc/linh-vuc/<%= ele._id %>"><%= ele.ten %></a></li>
                                            <% } else{%>
                                            <li><a href="/khoa-hoc/linh-vuc/<%= ele._id %>"><%= ele.ten %></a></li>
                                            <% }%>
                                            <% })} %>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>




            <!-- end main-content -->
        </div>

        <!-- Footer -->
        <% include ../component/home/footer %>
        <% include ../component/home/script %>

        <a class="scrollToTop" href="#"><i class="fas fa-angle-up"></i></a>
    </div>
    <!-- end wrapper -->

    <!-- Footer Scripts -->

    <script>
        $(document).ready(function () {
            function convertURL(str) {
                        str = str.toLowerCase();

                        // xóa dấu
                        str = str.replace(/(à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ)/g, 'a');
                        str = str.replace(/(è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ)/g, 'e');
                        str = str.replace(/(ì|í|ị|ỉ|ĩ)/g, 'i');
                        str = str.replace(/(ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ)/g, 'o');
                        str = str.replace(/(ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ)/g, 'u');
                        str = str.replace(/(ỳ|ý|ỵ|ỷ|ỹ)/g, 'y');
                        str = str.replace(/(đ)/g, 'd');

                        // Xóa ký tự đặc biệt
                        str = str.replace(/([^0-9a-z-\s])/g, '');

                        // Xóa khoảng trắng thay bằng ký tự -
                        str = str.replace(/(\s+)/g, '-');

                        // xóa phần dự - ở đầu
                        str = str.replace(/^-+/g, '');

                        // xóa phần dư - ở cuối
                        str = str.replace(/-+$/g, '');

                        // return
                        return str;
                    };
            function showListKH(data) {
                var html = "";
                $.each(data, function (index, ele) {
                    html += "<div class='row mb-15'>";
                    html += "<div class='col-sm-6 col-md-4'>";
                    html += `<div class="thumb"> <img alt="featured project" src="/public/uploads/${ele.banner}"></div>`;
                    html += "</div> <div class='col-sm-6 col-md-8'>";
                    html += `<h4 class="line-bottom mt-0 mt-sm-20">${ele.tenKH}</h4>`;
                    html += "<ul class='review_text list-inline'>";
                    html += `<li><h4 class="mt-0"><span class="text-theme-color-2">Học phí :</span> ${ele.hocPhi} VNĐ</h4></li>`;
                    html += "</ul>";
                    html += `<p class="fr-view">${ele.gioiThieu.slice(0, 65)}</p>`;
                    html += `<a class='btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10' href='/khoa-hoc/chi-tiet/${convertURL(ele.tenKH)}.${ele._id}'>Xem chi tiết</a>`;
                    html += "</div>";
                    html += "</div>";
                });
                return html;
            };

            $('.kh-posts').pagination({
                totalNumber: function (done) {
                    var id = $('#idLV').val();
                    $.ajax({
                        type: 'GET',
                        url: '/khoa-hoc/linh-vuc/getList/' + id,
                        success: function (res) {
                            console.log(res.total);
                            done(res.total);
                        }
                    });
                },
                dataSource: function (done) {
                    var id = $('#idLV').val();
                    $.ajax({
                        type: 'GET',
                        url: '/khoa-hoc/linh-vuc/getList/' + id,
                        success: function (res) {
                            done(res.list);
                        }
                    });
                },
                pageSize: 5,
                showNavigator: false,
                autoHidePrevious: true,
                autoHideNext: true,
                className: '',
                classPrefix: 'pagination theme-colored xs-pull-center m-0',
                ajax: {
                    beforeSend: function () {

                    }
                },
                callback: function (data, pagination) {
                    // template method of yourself
                    var html = showListKH(data);
                    $('.listBV').html(html);
                }
            });
        })
    </script>
</body>

</html>