<%
  var listMenu=[
    {link:'/',name:'Trang chủ'},{link:'/dao-tao',name:'Đào tạo'},
    {
      link:'/tuyen-sinh',name:'Tuyển sinh',
      subMenu:[
      {
        link:'/tuyen-sinh/1',name:'Ngắn hạn'
      },
      {
        link:'/tuyen-sinh/2',name:'Trung cấp'
      },
      {
        link:'/tuyen-sinh/3',name:'Cao đẳng'
      },
      {
        link:'/tuyen-sinh/4',name:'Đại học'
      },
      {
        link:'/tuyen-sinh/6',name:'Du học xuất khẩu lao động'
      }
      ]
    },
    
    {link:'/bai-viet/linh-vuc/5d21a5a28ae8350a5088f73f',name:'Tin tức'},
    {link:'/thong-bao',name:'Thông báo'},
  ];


%>
<!DOCTYPE html>
<html dir="ltr" lang="en">
<% include ../component/home/head %>

<body class="">
    <div id="wrapper" class="clearfix">
        <!-- preloader -->
       <%- include('../component/home/header',{listMenu}) %>
        <!-- Start main-content -->
        <div class="main-content">

            <section class="inner-header divider parallax layer-overlay overlay-dark-5"
                data-bg-img="/public/images/bg3.jpg">
                <div class="container pt-70 pb-20">
                    <!-- Section Content -->
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="title text-white">Chi tiết khóa học</h2>
                                <ol class="breadcrumb text-left text-black mt-10">
                                    <li><a href="#">Trang chủ</a></li>
                                    <li><a href="#">Khóa học</a></li>
                                    <li class="active text-gray-silver">Chi tiết</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 blog-pull-right">
                            <% if(detail !== null){%>
                            <% detail.forEach(function(ele){%>  
                            <div class="single-service post">
                                <img src="/public/uploads/<%=ele.banner%>" alt="" width="100%" height="350px">
                                <h3 class="text-theme-colored line-bottom text-theme-colored"><%=ele.tenKH%>
                                </h3>
                                <h4 class="mt-0"><span class="text-theme-color-2">Hoc phi :</span> <%=ele.hocPhi%> VND </h4>
                                <h4 class="mt-0"><span class="text-theme-color-2">Ngay khai giang :</span> <%=ele.ngayKhaiGiang%>  </h4>
                                <div class="entry-content mt-10 fr-view" style="text-align: justify;">
                                    <%- ele.noiDung %>
                                </div>
                                
                           
                                 <h4 class="line-bottom mt-20 mb-20 text-theme-colored">Đăng ký tại đây</h4>
                                 <!--
                                 <div class="widget">
                                        <form id="formDK" class="quick-contact-form">
                                            <input type="hidden" id="id" value="<%= ele._id %>">
                                          <div class="form-group">
                                            <input name="email" id="email" class="form-control" type="text"  placeholder="Nhap email">
                                          </div>
                                          <div class="form-group">
                                                <input name="ten"  id="ten" class="form-control" type="text"  placeholder="Nhap ho ten">
                                          </div>
                                          <div class="form-group">
                                                <input name="sdt" id="sdt" class="form-control" type="number" placeholder="Nhap so dien thoai">
                                          </div>
                                          <div class="form-group">
                                               <a id="dkSubmit" class="btn btn-colored btn-flat bg-theme-color-2 text-white font-14 bs-modal-ajax-load mt-0 p-25 pr-15 pl-15 ">Đăng ký </a>
                                          </div>
                                        </form>
                                      </div>
                                    -->
                                    <a  href="https://www.riam.vn/register/www.riam.edu.vn" class="btn btn-colored btn-flat bg-theme-color-2 text-white font-14 bs-modal-ajax-load mt-0 p-25 pr-15 pl-15 ">Đăng ký </a>     
                            </div>
                            <% })}%>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="sidebar sidebar-left mt-sm-30 ml-40">
                                <div class="widget">
                                    <h4 class="widget-title line-bottom">Lĩnh vực </h4>
                                    <div class="services-list">
                                        <ul class="list list-border angle-double-right">
                                            <% if(listLV !== null){%>
                                                <% listLV.forEach(function(ele){%>
                                                <li><a href="/khoa-hoc/linh-vuc/<%=ele._id%>"><%=ele.ten%></a></li>

                                            <%})}%>
                                           
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>




            <!-- end main-content -->
        </div>

        <!-- Footer -->
        <% include ../component/home/footer %>
        <% include ../component/home/script %>

        <a class="scrollToTop" href="#"><i class="fas fa-angle-up"></i></a>
    </div>
    <!-- end wrapper -->

    <!-- Footer Scripts -->


</body>

</html>