<%
  let convertURL=function(str){
    str = str.toLowerCase();

    // xóa dấu
    str = str.replace(/(à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ)/g, 'a');
    str = str.replace(/(è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ)/g, 'e');
    str = str.replace(/(ì|í|ị|ỉ|ĩ)/g, 'i');
    str = str.replace(/(ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ)/g, 'o');
    str = str.replace(/(ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ)/g, 'u');
    str = str.replace(/(ỳ|ý|ỵ|ỷ|ỹ)/g, 'y');
    str = str.replace(/(đ)/g, 'd');

    // Xóa ký tự đặc biệt
    str = str.replace(/([^0-9a-z-\s])/g, '');

    // Xóa khoảng trắng thay bằng ký tự -
    str = str.replace(/(\s+)/g, '-');

    // xóa phần dự - ở đầu
    str = str.replace(/^-+/g, '');

    // xóa phần dư - ở cuối
    str = str.replace(/-+$/g, '');

    // return
    return str;
  };

%>
<%
  var listMenu=[
    {link:'/',name:'Trang chủ'},{link:'/tuyen-sinh',name:'Đào tạo'},
    {
      link:'/tuyen-sinh',name:'Tuyển sinh',
      subMenu:[
      {
        link:'/tuyen-sinh/1',name:'Ngắn hạn'
      },
      {
        link:'/tuyen-sinh/2',name:'Trung cấp'
      },
      {
        link:'/tuyen-sinh/3',name:'Cao đẳng'
      },
      {
        link:'/tuyen-sinh/4',name:'Đại học'
      },
      {
        link:'/tuyen-sinh/6',name:'Du học xuất khẩu lao động'
      }
      ]
    },
    
    {link:'/bai-viet/linh-vuc/5d21a5a28ae8350a5088f73f',name:'Tin tức'},
    {link:'/thong-bao',name:'Thông báo'},
  ];


%>
<!DOCTYPE html>
<html dir="ltr" lang="en">
<% include ../component/home/head %>

<body class="">
  <div id="wrapper" class="clearfix">
    <!-- preloader -->
    <%- include('../component/home/header',{listMenu}) %>
    <!-- Start main-content -->
    <div class="main-content">

      <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/public/images/bnn1.jpg">
        <div class="container pt-70 pb-20">
          <!-- Section Content -->
          <div class="section-content">
            <div class="row">
              <div class="col-md-12">
                <h2 class="title text-white">Danh mục tuyển sinh</h2>

              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="widget-title title-dots"><span><a class="text-white" href="/dao-tao">Nội dung đào
                        tạo</a></span></h4>
                </div>
                <div class="ndDaoTao">
                  <% if(daoTao.length !=0){%>
                  <% daoTao.forEach(function(ele,i){%>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <article class="post mb-30">
                      <div class="entry-header">
                        <div class="post-thumb">
                          <img class="img-fullwidth img-responsive" src="/public/uploads/<%= ele.banner %>" alt="">
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="entry-content-dt">
                        <h5 class="entry-title text-uppercase mt-0"><a
                            href="/tuyen-sinh/chi-tiet/<%= convertURL(ele.tenBV) %>.<%= ele._id %>"><%= ele.tenBV %></a>
                        </h5>
                        <ul class="list-inline font-12 mb-20 mt-10">
                          <li><i class="fa fa-calendar text-theme-color-2 mr-5"></i> <%= ele.ngayTao %> </li>
                        </ul>

                        <a href="/tuyen-sinh/chi-tiet/<%= convertURL(ele.tenBV) %>.<%= ele._id %>"
                          class="btn btn-default btn-theme-colored hvr-sweep-to-right"> Đọc thêm <i
                            class="fa fa-arrow-circle-right"></i></a>
                        <div class="clearfix"></div>
                      </div>
                    </article>
                  </div>
                  <% })} %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <h4 class="widget-title title-dots mt-30"><span><a class="text-white" href="/tuyen-sinh/1"> Tuyển sinh
                        ngắn hạn </a></span></h4>
                </div>
                <% if(nganHan.length !=0 ){%>
                <% nganHan.forEach(function(ele,i){%>
                <% if(i >= 1){ %>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <article class="post mb-30">
                    <div class="entry-header">
                      <div class="post-thumb">
                        <img class="img-fullwidth img-responsive" src="/public/uploads/<%= ele.banner %>" alt="">
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="entry-content-dt">
                      <h5 class="entry-title text-uppercase mt-0"><a
                          href="/tuyen-sinh/chi-tiet/<%= convertURL(ele.tenBV) %>.<%= ele._id %>"><%= ele.tenBV %></a>
                      </h5>
                      <ul class="list-inline font-12 mb-20 mt-10">
                        <li><i class="fa fa-calendar text-theme-color-2 mr-5"></i> <%= ele.ngayTao %> </li>
                      </ul>

                      <a href="/tuyen-sinh/chi-tiet/<%= convertURL(ele.tenBV) %>.<%= ele._id %>"
                        class="btn btn-default btn-theme-colored hvr-sweep-to-right"> Đọc thêm <i
                          class="fa fa-arrow-circle-right"></i></a>
                      <div class="clearfix"></div>
                    </div>
                  </article>
                </div>
                <% } %>
                <% })} %>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <h4 class="widget-title title-dots mt-30"><span><a class="text-white" href="/tuyen-sinh/2">Tuyển sinh
                        trung cấp</a> </span></h4>
                  <% if(trungCap.length !=0){ %>
                  <% trungCap.forEach(function(ele,i){ %>
                  <article class="post mb-30">
                    <div class="entry-header">
                      <div class="post-thumb">
                        <img class="img-fullwidth img-responsive" src="/public/uploads/<%= ele.banner %>" alt="">
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="entry-content-dt">
                      <h5 class="entry-title text-uppercase mt-0"><a
                          href="/tuyen-sinh/chi-tiet/<%= convertURL(ele.tenBV) %>.<%= ele._id %>"></a><%= ele.tenBV %></a>
                      </h5>
                      <ul class="list-inline font-12 mb-20 mt-10">
                        <li><i class="fa fa-calendar text-theme-color-2 mr-5"></i> <%= ele.ngayTao %> </li>
                      </ul>

                      <a href="/tuyen-sinh/chi-tiet/<%= convertURL(ele.tenBV) %>.<%= ele._id %>"
                        class="btn btn-default btn-theme-colored hvr-sweep-to-right"> Đọc thêm <i
                          class="fa fa-arrow-circle-right"></i></a>
                      <div class="clearfix"></div>
                    </div>
                  </article>
                  <%}) } %>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <h4 class="widget-title title-dots mt-30"><span><a class="text-white" href="/tuyen-sinh/3">Tuyển sinh
                        cao đẳng</a> </span></h4>
                  <% if(caoDang.length !=0){ %>
                  <% caoDang.forEach(function(ele,i){ %>
                  <article class="post mb-30">
                    <div class="entry-header">
                      <div class="post-thumb">
                        <img class="img-fullwidth img-responsive" src="/public/uploads/<%= ele.banner %>" alt="">
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="entry-content-dt">
                      <h5 class="entry-title text-uppercase mt-0"><a
                          href="/tuyen-sinh/chi-tiet/<%= convertURL(ele.tenBV) %>.<%= ele._id %>"><%= ele.tenBV %></a>
                      </h5>
                      <ul class="list-inline font-12 mb-20 mt-10">
                        <li><i class="fa fa-calendar text-theme-color-2 mr-5"></i> <%= ele.ngayTao %> </li>
                      </ul>

                      <a href="/tuyen-sinh/chi-tiet/<%= convertURL(ele.tenBV) %>.<%= ele._id %>"
                        class="btn btn-default btn-theme-colored hvr-sweep-to-right"> Đọc thêm <i
                          class="fa fa-arrow-circle-right"></i></a>
                      <div class="clearfix"></div>
                    </div>
                  </article>
                </div>
                <%})} else{ %>
                <p>Trống</p>
                <%} %>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <h4 class="widget-title title-dots mt-30"><span><a class="text-white" href="/tuyen-sinh/4"> Tuyển sinh
                        hệ đại học</a></span></h4>
                </div>
                <% if(daiHoc.length != 0){ %>
                <% daiHoc.forEach(function(ele,i){%>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <article class="post mb-30">
                    <div class="entry-header">
                      <div class="post-thumb">
                        <img class="img-fullwidth img-responsive" src="/public/uploads/<%= ele.banner%>"
                          style="height:148px;" alt="">
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="entry-content-dt">
                      <h5 class="entry-title text-uppercase mt-0"><a class="font-13"
                          href="/tuyen-sinh/chi-tiet/<%= convertURL(ele.tenBV) %>.<%= ele._id %>"><%= ele.tenBV%></a>
                      </h5>
                      <p class="post-date mb-0 font-12"><i
                          class="fa fa-calendar text-theme-color-2 mr-5"></i><%= ele.ngayTao%></p>
              
                    </div>

                  </article>
                  <div class="clearfix"></div>
                </div>
                <% }) %>
                <% }%>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <h4 class="widget-title title-dots mt-30"><span><a class="text-white" href="/tuyen-sinh/6">Du học xuất
                        khẩu lao động</a> </span></h4>
                </div>
                <% if(duHoc.length != 0){ %>
                <% duHoc.forEach(function(ele,i){%>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <article class="post mb-30">
                    <div class="entry-header">
                      <div class="post-thumb">
                        <img class="img-fullwidth img-responsive" src="/public/uploads/<%= ele.banner%>"
                          style="height:148px;" alt="">
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="entry-content-dt">
                      <h5 class="entry-title text-uppercase mt-0"><a class="font-13"
                          href="/tuyen-sinh/chi-tiet/<%= convertURL(ele.tenBV) %>.<%= ele._id %>"><%= ele.tenBV%></a>
                      </h5>
                      <p class="post-date mb-0 font-12"><i
                          class="fa fa-calendar text-theme-color-2 mr-5"></i><%= ele.ngayTao%></p>
                     
                    </div>
                    <div class="clearfix"></div>
                  </article>
                </div>
                <% }) %>
                <% }%>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="sidebar sidebar-left mt-sm-30">
                <div class="widget">
                  <h5 class="widget-title title-dots small"><span>Tìm kiếm</span></h5>
                  <div class="search-form">
                    <form>
                      <div class="input-group">
                        <input type="text" placeholder="Nhập từ khóa" class="form-control search-input">
                        <span class="input-group-btn">
                          <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="widget">
                  <h5 class="widget-title title-dots small"><span>Thông báo mới</span></h5>
                  <div class="latest-posts" id="ndTB">
                    <% if(tb.length !=0){%>
                    <% tb.forEach(function(ele){%>
                    <article class="post media-post clearfix pb-0 mb-5">
                      <a class="post-thumb" href="#"><img src="/public/uploads/<%= ele.banner%>" width="70px"
                          height="70px" alt=""></a>
                      <div class="post-right">
                        <h5 class="post-title mt-0"><a
                            href="/tuyen-sinh/chi-tiet/<%= convertURL(ele.tenBV) %>.<%= ele._id %>"><%= ele.tenBV %></a>
                        </h5>
                        <p class="post-date mb-0 font-12"><i
                            class="fa fa-calendar text-theme-color-2 mr-5"></i><%= ele.ngayTao%></p>
                      </div>
                    </article>
                    <% })%>
                    <% }%>


                  </div>
                </div>
                <div class="widget">
                  <img class="img-fullwidth" src="/public/images/dang-ky.gif" alt="">
                </div>
                <div class="widget">
                  <h5 class="widget-title title-dots small"><span>Tin nổi bật</span></h5>
                  <div class="latest-posts" id="tsNB" <% if(tinNB.length != 0){ %> <% tinNB.forEach(function(ele,i){%>
                    <article class="post media-post clearfix pb-0 mb-5">
                    <a class="post-thumb" href="/tuyen-sinh/chi-tiet/<%= convertURL(ele.tenBV) %>.<%= ele._id %>"><img
                        src="/public/uploads/<%= ele.banner%>" width="70px" height="70px" alt=""></a>
                    <div class="post-right" style="text-align: justify;">
                      <h5 class="post-title mt-0"><a
                          href="/tuyen-sinh/chi-tiet/<%= convertURL(ele.tenBV) %>.<%= ele._id %>"><%= ele.tenBV %></a>
                      </h5>
                      <p class="post-date mb-0 font-12"><i
                          class="fa fa-calendar text-theme-color-2 mr-5"></i><%= ele.ngayTao%></p>
                    </div>
                    </article>
                    <% }) %>
                    <% }%>

                  </div>
                </div>


              </div>
            </div>
          </div>

        </div>
      </section>

      <!-- end main-content -->
    </div>

    <!-- Footer -->
    <% include ../component/home/footer %>
    <% include ../component/home/script %>

  </div>
  <!-- end wrapper -->

  <!-- Footer Scripts -->

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || , Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5d2d8c3fbfcb827ab0cbfdab/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
</body>

</html>