<div class="content-i">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">
                Danh sách bài viết
            </h6>
            <div class="element-box">
                <div class="col-lg-6 col-md-4 col-sm-12 text-right float-right">
                    <button class="mr-2 mb-2 btn btn-primary" data-target=".bd-example-modal-lg" data-toggle="modal">
                        Thêm</button>
                    <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg"
                        role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Thêm mới bài viết
                                    </h5>
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                                            aria-hidden="true"> &times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <form id="addTinTuc" method="POST">
                                        <div class="form-group">
                                            <label class="float-left" for="">Tên bài viết</label><input
                                                class="form-control" placeholder="Nhập tên" id="tenBV" name="tenBV"
                                                type="text">
                                        </div>
                                        <label class="float-left" for="">Nội dung</label>
                                        <div class="form-group">
                                            <textarea name="noiDung" id="them" placeholder="Nội dung khóa học"
                                                id="noiDung"></textarea>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="float-left" for="">Ảnh </label>
                                                    <div class="col-sm-12">
                                                        <input type="file" class="form-control form-control-sm"
                                                            name="banner">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="float-left" for="">Danh mục</label>
                                                    <select class="form-control show-tick" name="danhMuc">
                                                        <option value="1">Ngắn hạn</option>
                                                        <option value="2">Trung cấp</option>
                                                        <option value="3">Cao đẳng</option>
                                                        <option value="4">Đại học</option>
                                                        <option value="5">Nội dung đào tạo</option>
                                                        <option value="6">Xuất khẩu, du học</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="idDV" value="<%= user[0]._id %>">
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" type="submit">
                                                Thêm</button>
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button">
                                                Hủy</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên bài viết</th>
                                <th>Danh mục</th>
                                <th>Xử lý</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(list.length != 0 ){%>
                            <% list.forEach(function(ele,i){%>
                            <tr>
                                <td><%= ++i %></td>
                                <td><%= ele.tenBV %></td>
                                <td>
                                    <% if(ele.danhMuc == 1){%>
                                    Ngắn hạn
                                    <% }else if(ele.danhMuc == 2){%>
                                        Trung cấp
                                    <% }else if(ele.danhMuc == 3){%>
                                        Cao đẳng
                                    <% }else if(ele.danhMuc == 4){%>
                                        Đại học
                                    <% }else if(ele.danhMuc == 5) {%>
                                    Nội dung đào tạo
                                    <% } else if(ele.danhMuc == 6){%>
                                        Xuất khẩu, du học
                                    <% } else {%>
                                        Nội dung đào tạo
                                    <% }%>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#" data-target="#info<%= i%>"
                                                data-toggle="modal"><i class="fa fa-info-circle"
                                                    aria-hidden="true"></i>Chi tiết</a>
                                            <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o"
                                                    aria-hidden="true"></i>Cập nhật</a>
                                            <a class="dropdown-item" href="#" data-target="#delete<%= i%>"
                                                data-toggle="modal"><i class="fa fa-trash-o"
                                                    aria-hidden="true"></i>Xóa</a>
                                        </div>
                                    </div>
                                    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                                        id="info<%= i%>" role="dialog" tabindex="-1">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        Thông tin bài viết
                                                    </h5>
                                                    <button aria-label="Close" class="close" data-dismiss="modal"
                                                        type="button"><span aria-hidden="true"> &times;</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="card">
                                                        <div class="body">
                                                            <div class="col-lg-12 col-md-12">
                                                                <div class="card">
                                                                    <div class="body widget-user">
                                                                        <div class="row">
                                                                            <div class="col-2"><img
                                                                                    class="rounded-circle"
                                                                                    src="/public/uploads/<%= ele.banner%>"
                                                                                    alt=""></div>
                                                                            <div class="col-10">
                                                                                <div class="wid-u-info"
                                                                                    style="margin-left: 0 !important;">
                                                                                    <h5><%= ele.tenBV %></h5>
                                                                                    <p class="text-muted m-b-0">
                                                                                        <i
                                                                                            class="fa fa-calendar pr-2"></i>
                                                                                        Ngày đăng:
                                                                                        <%= ele.ngayTao %>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <hr>
                                                                        <div class="row">
                                                                         
                                                                            <div class="col-12">
                                                                                <h5 class="m-b-0">Nội dung :
                                                                                </h5>
                                                                                <p class="fr-view">
                                                                                    <%- ele.noiDung%></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary" data-dismiss="modal"
                                                                type="button">
                                                                Đóng</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                                        id="delete<%= i%>" role="dialog" tabindex="-1">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        Xóa bài viết
                                                    </h5>
                                                    <button aria-label="Close" class="close" data-dismiss="modal"
                                                        type="button"><span aria-hidden="true"> &times;</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Bạn có muốn xóa bài viết ' <%= ele.tenBV %>'</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button">
                                                        Xác nhận</button>
                                                    <button class="btn btn-secondary" data-dismiss="modal"
                                                        type="button">
                                                        Hủy</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% })} %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>