<div class="content-i">
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div>
                        <h6 class="element-header">
                            Quản lý khóa học
                        </h6>
                    </div>
                    <div class="element-box">
                        <div class="col-lg-6 col-md-4 col-sm-12 text-right float-right">
                            <button class="mr-2 mb-2 btn btn-primary" data-target=".bd-example-modal-lg"
                                data-toggle="modal"> Thêm</button>
                            <div aria-hidden="true" aria-labelledby="myLargeModalLabel"
                                class="modal fade bd-example-modal-lg" role="dialog" tabindex="-1">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                                Thêm mới khóa học
                                            </h5>
                                            <button aria-label="Close" class="close" data-dismiss="modal"
                                                type="button"><span aria-hidden="true"> &times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label class="float-left" for="">Tên khóa học</label><input class="form-control"
                                                        placeholder="Nhập tên" name="tenKH" type="text">
                                                </div>
                                                <div class="form-group">
                                                    <label  class="float-left" for="">Giới thiệu</label> <textarea rows="4"
                                                        class="form-control no-resize" placeholder="Giới thiệu khóa học"
                                                        name="gioiThieu"></textarea>
                                                </div>
                                                <label  class="float-left" for="">Nội dung khóa học</label>
                                                <div class="form-group">
                                                 
                                                    <textarea name="noiDung"
                                                        id="them" placeholder="Nội dung khóa học"></textarea>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label  class="float-left" for=""> Học phí</label>
                                                            <input type="number" class="form-control"
                                                                placeholder="Học phí khóa học" name="hocPhi" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label  class="float-left" for="">Lĩnh vực</label>
                                                            <select class="form-control show-tick" name="idLV">
                                                                <% if(linhVuc){ %>
                                                                <% linhVuc.forEach(function(ele){ %>
                                                                <option value="<%=ele._id%>"><%= ele.ten %></option>
                                                                <%}) %>
                                                                <% } %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label  class="float-left" for=""> Ngày khai giảng</label>
                                                            <input type="text" class="form-control form-control-sm"
                                                                id="datepicker" name="ngayKhaiGiang">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label  class="float-left" for="">Ảnh </label>
                                                            <div class="col-sm-12">
                                                                <input type="file" class="form-control form-control-sm"
                                                                    name="banner">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                        <button class="btn btn-primary" type="button">
                                                               Thêm</button>
                                                    <button class="btn btn-secondary" data-dismiss="modal"
                                                        type="button">
                                                        Hủy</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="listKH" class="table m-b-0 table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên </th>
                                        <th>Học phí</th>
                                        <th>Trạng thái</th>
                                        <th>Xử lý</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% let i=1; %>
                                    <% listKH.forEach(function(val){%>
                                    <tr>
                                        <td>
                                            <span><%= i %></span>
                                        </td>
                                        <td><%= val.tenKH %></td>
                                        <td><%= val.hocPhi %></td>
                                        <td>
                                         <% if(val.trangThai == 0){%>
                                            Đang khóa
                                         <% } else{%>
                                            Đang mở
                                         <% }%>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#" data-target="#info<%= i%>"
                                                        data-toggle="modal"><i class="fa fa-info-circle"
                                                            aria-hidden="true"></i>Chi tiết</a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o"
                                                            aria-hidden="true"></i>Cập nhật</a>
                                                    <a class="dropdown-item" href="#" data-target="#delete<%= i%>"
                                                        data-toggle="modal"><i class="fa fa-trash-o"
                                                            aria-hidden="true"></i>Xóa</a>
                                                </div>
                                            </div>
                                            <div aria-hidden="true" aria-labelledby="exampleModalLabel"
                                                class="modal fade" id="info<%= i%>" role="dialog" tabindex="-1">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">
                                                                Thông tin khóa học
                                                            </h5>
                                                            <button aria-label="Close" class="close"
                                                                data-dismiss="modal" type="button"><span
                                                                    aria-hidden="true"> &times;</span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="card">
                                                                <div class="body">
                                                                    <div class="col-lg-12 col-md-12">
                                                                        <div class="card">
                                                                            <div class="body widget-user">
                                                                                <div class="row">
                                                                                    <div class="col-2"><img
                                                                                            class="rounded-circle"
                                                                                            src="/public/uploads/<%= val.banner%>"
                                                                                            alt=""></div>
                                                                                    <div class="col-10">
                                                                                        <div class="wid-u-info"
                                                                                            style="margin-left: 0 !important;">
                                                                                            <h5><%= val.tenKH %></h5>
                                                                                            <p class="text-muted m-b-0">
                                                                                                <i
                                                                                                    class="fa fa-calendar pr-2"></i>
                                                                                                Ngày khai giảng:
                                                                                                <%= val.ngayKhaiGiang %>
                                                                                            </p>
                                                                                            <p class="text-muted m-b-0">
                                                                                                <i
                                                                                                    class="fa fa-dollar-sign pr-2"></i>Học
                                                                                                phí: <%= val.hocPhi %>
                                                                                                VNĐ</p>
                                                                                            <p class="text-muted m-b-0">
                                                                                                <% if(val.trangThai == 0){ %>
                                                                                                <i
                                                                                                    class="fa fa-toggle-off pr-2"></i>
                                                                                                Trạng thái: Chờ
                                                                                                <% }else if(val.trangThai==-1){ %>
                                                                                                <i
                                                                                                    class="fa fa-toggle-off pr-2"></i>
                                                                                                Trạng thái: Đóng
                                                                                                <% } else{%>
                                                                                                <i
                                                                                                    class="fa fa-toggle-on pr-2"></i>
                                                                                                Trạng thái: Mở
                                                                                                <% } %>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <hr>
                                                                                <div class="row">
                                                                                    <div class="col-12">
                                                                                        <h5 class="m-b-0">Giới thiệu :
                                                                                        </h5>
                                                                                        <p><%= val.gioiThieu%></p>
                                                                                    </div>
                                                                                    <div class="col-12">
                                                                                        <h5 class="m-b-0">Nội dung :
                                                                                        </h5>
                                                                                        <p class="fr-view">
                                                                                            <%- val.noiDung%></p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-secondary"
                                                                        data-dismiss="modal" type="button">
                                                                        Đóng</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div aria-hidden="true" aria-labelledby="exampleModalLabel"
                                                class="modal fade" id="delete<%= i%>" role="dialog" tabindex="-1">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">
                                                                Xóa khóa học
                                                            </h5>
                                                            <button aria-label="Close" class="close"
                                                                data-dismiss="modal" type="button"><span
                                                                    aria-hidden="true"> &times;</span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Bạn có muốn xóa khóa học ' <%= val.tenKH %>'</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary" type="button">
                                                                Xác nhận</button>
                                                            <button class="btn btn-secondary" data-dismiss="modal"
                                                                type="button">
                                                                Hủy</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <% i++; })%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>