<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid tinTuc" style="min-height: 1300px;">
    <div class="row ">
        <div class="col-md-12 listNews active">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title float-left">Danh sách yêu cầu mở khóa học</h3>
                    <div class="float-right">
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive ">
                        <div class="table-responsive">
                            <table id="zero_config" class="table">
                                <thead>
                                    <tr class="text-center">
                                        <th scope="col">Chu de</th>
                                        <th scope="col">Tên</th>
                                        <th scope="col">Thời gian gửi</th>
                                        <th scope="col">Xử lý</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(listQ){ 
                            let i=1;    
                        %>
                                    <% listQ.forEach(function(ele){ %>
                                    <tr class="text-center">
                                        <td><img src="/public/uploads/<%= ele.kh[0].banner %>" width="100" height="50"> </td>
                                        <td class="" style="font-size: 12px;">
                                            <%= ele.kh[0].tenKH %></span></td>
                                        <td style="font-size: 12px;"><%= ele.ngay %></td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-success dropdown-toggle" type="button"
                                                    id="dropdownMenuButton<%=i%>" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-cog"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton<%=i%>">
                                                    <i class="far fa-eye pr-3 dropdown-item" data-toggle="modal"
                                                        data-target="#modalEdit<%=i%>"
                                                        style="cursor:pointer;">&ensp;&ensp;Xem chi tiết</i>
                                                    <i class="far fa-check-circle pr-3 dropdown-item" onclick="changeCourse('<%= ele.idKH%>','<%= ele._id%>','<%= ele.idDV%>')"
                                                        style="cursor:pointer;">&ensp;&ensp;Cho phép</i>
                                                    <i class="fas fa-trash-alt pr-3 dropdown-item"
                                                        style="cursor:pointer;" onclick="cancelCourse('<%= ele._id %>')"
                                                       >&ensp;&ensp;Hủy</i>
                                                </div>
                                            </div>
                                           
                                        </td>
                                        <!-- Button trigger modal -->
                                        <!-- Modal -->
                                        <div class="modal fade " id="modalEdit<%= i %>" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true"
                                            style="margin-left: 5%;">
                                            <div class="modal-dialog detailView modal-dialog-scrollable" role="document"
                                                style="max-width: 900px;">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-center"
                                                            id="exampleModalScrollableTitle">
                                                            Thông tin khóa học
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body ">
                                                        <div class="headerInfo text-center">
                                                            <h2 class="font-weight-normal"><%=ele.kh[0].tenKH%></h2>
                                                            <span class="pr-2"><i class="fas fa-clock pr-2"></i>Ngày
                                                                khai giảng
                                                                :<%=ele.kh[0].ngayKhaiGiang%></span>
                                                            <span class="pl-2"><i
                                                                    class="fas fa-folder-open pr-2"></i><%=ele.kh[0].ten%></span>
                                                        </div>
                                                        <div class="bodyInfo w-80 mx-auto fr-view mt-2">
                                                            <h4 class="d-inline-block font-weight-normal">Học phí khóa
                                                                học
                                                                :</h4>
                                                            <p class="d-inline-block"><%-ele.kh[0].hocPhi%></p>
                                                        </div>
                                                        <div class="anh text-center">
                                                            <img class="" src="/public/uploads/<%=ele.kh[0].banner%>" alt=""
                                                                width="30%" height="auto">
                                                        </div>
                                                        <div class="bodyInfo w-80 mx-auto mb-2 mt-3">
                                                            <h4 class="d-inline-block font-weight-normal">Giới Thiệu :
                                                            </h4>
                                                            <p class="d-inline-block"><%=ele.kh[0].gioiThieu%></p>

                                                        </div>
                                                        <div class="bodyInfo w-80 mx-auto fr-view mt-2">
                                                            <h4 class="d-inline-block font-weight-normal">Nội dung khóa
                                                                học
                                                                :</h4>
                                                            <p class="d-inline-block"><%-ele.kh[0].noiDung%></p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                        </div>
                        <%i++ })} %>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</div>